.resultFont {
    font-family: Times, "Times New Roman", Georgia, serif;
}
.resultFont > a {
    font-weight: 700;
}

.resultFont > a:link {
    color: blue;
    text-decoration: none;
}
.resultFont > a:visited {
    color: blue;
    text-decoration: none;
}
.resultFont > a:hover {
    color: red;
    text-decoration: none;
}